@model PreNat.ViewModels.MainActionViewModel
@{
    ViewBag.Title = "Dashboard";

}


<h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>
<hr />

<!-- FORMS -->
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Action","PatientMaster")" class="btn btn-block btn-primary">REGISTER NEW PATIENT</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Index","PatientMaster")" class="btn btn-block btn-secondary">VIEW PATIENT RECORD</a>
    </div>
</div>

